/* Base styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Light mode styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #df3ca6;
  --secondary-color: #7430f9;
}

/* Dark mode styles */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #e91e63;
  --secondary-color: #673ab7;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar-brand {
  color: var(--primary-color);
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary-color) !important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}
